---
import Layout from "../../layouts/Layout.astro"
import { chains } from '../../content/chains'
import { getTrees } from "../../content/trees"
import Entry from "../../components/Entry.astro"

const chainId = Number(Astro.params.chain) as keyof typeof chains
const trees = await getTrees({ chainId })

export function getStaticPaths() {
  return Object.keys(chains).map((chain) => ({ params: { chain } }))
}
---
<Layout title={`${chains[chainId]} Hats Explorer`}`>
  <main>
    <h1>
      <a href="/">←</a>
      Hats For Chain: {chains[chainId]} ({chainId})
    </h1>

    <ol>
      {trees?.map((top) => (
        <li>
          {top.id ? (
            <a href={`/${chainId}/${top.id}/`}>
              <Entry hat={top}/>
            </a>
          ) : (
            <Entry hat={top}/>
          )}
          {top.description && <p>{top.description}</p>}
        </li>
      ))}
    </ol>
  </main>
</Layout>

<style>
	a {
		text-decoration: none;
	}
  a:hover, a:focus {
    color: hotpink;
		text-decoration: underline;
		text-decoration-style: dashed;
	}
  :is(a:hover, a:focus) :global(img) {
    height: 90vh;
    max-width: 100%;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
